.btn{
    background-color: var(--blue);
    padding: .5rem 1.5rem;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.2em;
    min-width: 100px;
    text-transform: capitalize;
    border: 2px solid var(--blue);
    text-align: center;
    color: var(--white);
}
.btn:hover{
    box-shadow: 5px 5px 10px rgba(58, 128, 233, 0.5);
  transition: all 0.3s;
}
.outLined-btn{
    background-color: var(--black);
    padding: .5rem 1.5rem;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.2em;
    min-width: 100px;
    text-transform: capitalize;
    border: 2px solid var(--blue);
    text-align: center;
    color: var(--white);
    cursor: pointer;
}
.outLined-btn:hover{
    background-color: var(--blue);
    transition: all 0.3s;
}